@import "tailwindcss";

@layer base {
  body{
    min-height: 100vh;
    background-color: #000;
    color: #fff;
    display: grid;
    place-items: center;
    font-family: monospace;
    letter-spacing: 0.05em;
  };
}

:root {
  --animate-cell-ripple: cell-ripple var(--duration, 200ms) ease-out none 1 var(--delay, 0ms);
}

@keyframes cell-ripple {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.4;
  }
}
