@import "tailwindcss";

@layer base {
  body{
    min-height: 100vh;
    background-color: #000;
    color: #fff;
    display: grid;
    place-items: center;
    font-family: monospace;
    letter-spacing: 0.05em;
  };
}